body{
	Background-Color:Creme White 
}

	#wrapper{
Maximum width:50
Margin: auto
Padding 10px
}

.feature img{
	 Width:30
 }

.footer{
	 Top Margin:10px
	 Padding: 10px
	 background:white #333
 }
 
 
 